<!DOCTYPE html>
<html>
<head>
    <title>Battle</title>
    <style>
        .battle-log {
            max-height: 200px;
            overflow-y: auto;
            border: 1px solid #ccc;
            padding: 5px;
            margin-top: 10px;
        }
        .game-over {
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Battle</h1>

    {% if message %}
        <p class="game-over">{{ message }}</p>
    {% else %}

        <h2>Участники</h2>
        <ul>
            {% for participant in participants %}
                <li>
                    {{ participant.name }}
                    (Здоровье: {{ participant.health }}, Инициатива: {{ participant.initiative }})
                    {% if participant.is_character_type == 'MONSTER' %} (Монстр) {% endif %}
                </li>
            {% endfor %}
        </ul>

        {% if current_participant %}
            <h2>Текущий ход: {{ current_participant.name }}</h2>
             <form method="post">
                    {% csrf_token %}
                  {% if current_participant.is_character_type == 'HERO' and current_participant.health > 0 %}

                    <input type="hidden" name="hero_id" value="{{ current_participant.id }}">

                    {% if battle.monsters %}
                        <select name="target_id">
                            {% for target in battle.monsters %}
                                {% if target.health > 0 %}
                                    <option value="{{ target.id }}">{{ target.name }}</option>
                                {% endif %}
                            {% endfor %}
                         </select>
                    {% endif %}

                    <button type="submit" name="action" value="attack">Обычная атака</button>

                   {% if current_participant.skills %}
                     {% for skill in current_participant.skills %}
                       <button type="submit" name="action" value="skill">Использовать скилл {{skill.name}} ({{skill.damage}})
                            <input type="hidden" name="skill_index" value="{{ forloop.counter0 }}">
                       </button>
                     {% endfor %}
                    {% endif %}
                  {% endif %}
                 </form>
        {% endif %}


        <h3>Лог боя:</h3>
        <pre class="battle-log">{{ battle.battle_log }}</pre>
    {% endif %}
     <form method="post" action="{% url 'start_game' %}">
        {% csrf_token %}
        <button type="submit">Новая игра</button>
     </form>
</body>
</html>